.vscode
trys
0x02-functions_nested_loops/_putchar.c
0x02-functions_nested_loops/main.c
0x04-more_functions_nested_loops/_putchar.c
0x04-more_functions_nested_loops/*-main.c


0x05-pointers_arrays_strings/_putchar.c
0x05-pointers_arrays_strings/*-main.c

0x06-pointers_arrays_strings/_putchar.c
0x06-pointers_arrays_strings/*-main.c
